.conf {
    display: grid;
    grid-template-columns: 325px 1fr 325px;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "a a a"
        "c c c"
        "e e e";
    gap: 1rem;
    min-height: 100vh;
    padding: 3rem;
}

.conf > * {
    border: 1px solid rgba(var(--app-gray_300), 1);
    border-radius: 10px;
    min-height: 10vh;
    padding: 1rem;
    padding-top: 3rem;
    position: relative;
}

.conf > *::before {
    left: 50%;
    line-height: 1;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);
}

.conf__header {
    background: #d5e8d4;
    grid-area: a;
}

.conf__header::before {
    content: "Page layouts";
}

.conf__side-left {
    background: #d5e8d4;
    grid-area: b;
}

.conf__side-left::before {
    content: "Widgets";
}

.conf__main {
    background: #fff2cd;
    display: grid;
    grid-area: c;
}

.conf__main::before {
    content: "Working area";
}

.conf__main-footer {
    background: #fff2cd;
    grid-area: e;
}

.conf__main-footer::before {
    content: "Structure page commands";
}

.conf__side-right {
    background: #d5e8d4;
    grid-area: d;
}

.conf__side-right::before {
    content: "Commands";
}

.page-layout {
    aspect-ratio: 16/9;
    background-color: rgba(var(--app-gray_0), 1);
    border-radius: 5px;
    cursor: pointer;
    height: 8rem;
    gap: 0.25rem;
    padding: 0.25rem;
    text-align: center;
    transition: transform 300ms ease, box-shadow 300ms ease;
    user-select: none;
}

.lifecycle-hooks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.lifecycle-hooks > * {
    border: 1px dashed rgba(var(--app-gray_300), 1);
    border-radius: 5px;
    min-height: 5vh;
    padding: 1rem;
    position: relative;
}

.lifecycle-hooks > *::before {
    color: rgba(var(--app-gray_400), 1);
    left: 0.5rem;
    position: absolute;
    top: 0.25rem;
}

.lifecycle-hooks > *:nth-child(1)::before {
    content: "Init";
}

.lifecycle-hooks > *:nth-child(2)::before {
    content: "Destroy";
}