
<div class="conf">

    <div class="conf__header">

        <div class="page-layouts">

            <div
                class="page-layout page-layout--a page-layout--scale-on-hover shadow"
                (click)="selectedPageLayout = PageLayout.TemplateA"
            >
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div
                class="page-layout page-layout--b page-layout--scale-on-hover shadow"
                (click)="selectedPageLayout = PageLayout.TemplateB"
            >
                <div></div>
                <div></div>
            </div>

            <div
                class="page-layout page-layout--c page-layout--scale-on-hover shadow"
                (click)="selectedPageLayout = PageLayout.TemplateC"
            >
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div
                class="page-layout page-layout--d page-layout--scale-on-hover shadow"
                (click)="selectedPageLayout = PageLayout.TemplateD"
            >
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="conf__side-left">

    </div>

    <div class="conf__main">
        <ng-container [ngSwitch]="selectedPageLayout">

            <ng-container *ngSwitchCase="PageLayout.TemplateA">
                <app-template-a></app-template-a>
            </ng-container>

            <ng-container *ngSwitchCase="PageLayout.TemplateB">
                <app-template-b></app-template-b>
            </ng-container>

            <ng-container *ngSwitchCase="PageLayout.TemplateC">
                <app-template-c></app-template-c>
            </ng-container>

            <ng-container *ngSwitchCase="PageLayout.TemplateD">
                <app-template-d></app-template-d>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <div class="d-grid" style="place-items: center;">
                    <h5 class="text-muted">Click on a template to start</h5>
                </div>
            </ng-container>
        </ng-container>
    </div>

    <div class="conf__main-footer">
        <div class="lifecycle-hooks">
            <div class="hook-init"></div>
            <div class="hook-destroy"></div>
        </div>
    </div>

    <div class="conf__side-right">
        
    </div>
</div>
