<div class="holy-grail-layout">

    <div class="left-side">

        <h5>Left Side</h5>

        <div
            class="drop-list"
            cdkDropList
            [id]="'left-side'"
            [dragAndDropManager]="'widgets'"
            [cdkDropListData]="leftSide"
            (cdkDropListDropped)="onDragDrop$.next($event)"
        >
            <app-base-widget
                cdkDrag
                *ngFor="let item of leftSide"
                [spec]="item"
                [onDragDrop]="onDragDrop$"
            />
        </div>
    </div>

    <div class="main">

        <h5>Main</h5>

        <div class="main-grid">

            <div class="header">

                <h5>Header</h5>

                <div
                    class="drop-list"
                    cdkDropList
                    [id]="'header'"
                    [dragAndDropManager]="'widgets'"
                    [cdkDropListData]="header"
                    (cdkDropListDropped)="onDragDrop$.next($event)"
                >
                    <app-base-widget
                        cdkDrag
                        *ngFor="let item of header"
                        [spec]="item"
                        [onDragDrop]="onDragDrop$"
                    />
                </div>
            </div>
    
            <div class="content">

                <h5>Content</h5>

                <div
                    class="drop-list"
                    cdkDropList
                    [id]="'content'"
                    [dragAndDropManager]="'widgets'"
                    [cdkDropListData]="content"
                    (cdkDropListDropped)="onDragDrop$.next($event)"
                >
                    <app-base-widget
                        cdkDrag
                        *ngFor="let item of content"
                        [spec]="item"
                        [onDragDrop]="onDragDrop$"
                    />
                </div>
            </div>
    
            <div class="footer">

                <h5>Footer</h5>

                <div
                    class="drop-list"
                    cdkDropList
                    [id]="'footer'"
                    [dragAndDropManager]="'widgets'"
                    [cdkDropListData]="footer"
                    (cdkDropListDropped)="onDragDrop$.next($event)"
                >
                    <app-base-widget
                        cdkDrag
                        *ngFor="let item of footer"
                        [spec]="item"
                        [onDragDrop]="onDragDrop$"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="right-side">

        <h5>Right Side</h5>

        <div
            class="drop-list"
            cdkDropList
            [id]="'right-side'"
            [dragAndDropManager]="'widgets'"
            [cdkDropListData]="rightSide"
            (cdkDropListDropped)="onDragDrop$.next($event)"
        >
            <app-base-widget
                cdkDrag
                *ngFor="let item of rightSide"
                [spec]="item"
                [onDragDrop]="onDragDrop$"
            />
        </div>
    </div>
</div>

<div class="overlay"></div>