<div class="holy-grail-layout">

    <div class="left-side">

        <h5>Left Side</h5>

        <app-drop-list
            dropListId="left-side-drop-list"
            [dropList]="leftSide"
            [connectedDropListIds]="[
                'header-drop-list',
                'content-drop-list',
                'footer-drop-list',
                'right-side-drop-list'
            ]"
            (drop)="drop($event)"
        />
    </div>

    <div class="main">

        <h5>Main</h5>

        <div class="main-grid">

            <div class="header">

                <h5>Header</h5>

                <app-drop-list
                    dropListId="header-drop-list"
                    [dropList]="header"
                    [connectedDropListIds]="[
                        'left-side-drop-list',
                        'content-drop-list',
                        'footer-drop-list',
                        'right-side-drop-list'
                    ]"
                    (drop)="drop($event)"
                />
            </div>
    
            <div class="content">

                <h5>Content</h5>

                <app-drop-list
                    dropListId="content-drop-list"
                    [dropList]="content"
                    [connectedDropListIds]="[
                        'left-side-drop-list',
                        'header-drop-list',
                        'footer-drop-list',
                        'right-side-drop-list'
                    ]"
                    (drop)="drop($event)"
                />
            </div>
    
            <div class="footer">

                <h5>Footer</h5>

                <app-drop-list
                    dropListId="footer-drop-list"
                    [dropList]="footer"
                    [connectedDropListIds]="[
                        'left-side-drop-list',
                        'header-drop-list',
                        'content-drop-list',
                        'right-side-drop-list'
                    ]"
                    (drop)="drop($event)"
                />
            </div>
        </div>
    </div>

    <div class="right-side">

        <h5>Right Side</h5>

        <app-drop-list
            dropListId="right-side-drop-list"
            [dropList]="rightSide"
            [connectedDropListIds]="[
                'left-side-drop-list',
                'header-drop-list',
                'content-drop-list',
                'footer-drop-list'
            ]"
            (drop)="drop($event)"
        />
    </div>
</div>

<div class="overlay"></div>