.holy-grail-layout {
  display: grid;
  grid-template-columns: 360px 1fr 360px;
  grid-template-areas: "left-side main right-side";
  gap: 0.5rem;
  min-height: 100vh;
}

.holy-grail-layout > * {
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid;
  border-radius: 1rem;
}

.left-side {
  grid-area: left-side;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto 1fr;

}

.right-side {
  grid-area: right-side;
}

.main-grid {
  display: grid;
  grid-template-rows: minmax(200px, auto) minmax(200px, 1fr) minmax(200px, auto);
}

.main-grid > * {
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid;
  border-radius: 1rem;
}

.drop-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.drop-list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 10px 5px #0002;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}