
<div class="mb-3">
    <app-button [confEl]="confEl"></app-button>
</div>

<div class="pipeline">

    <div class="text-center mb-3">
        <div
            class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
            (click)="addConfEl(confEl.outlet1)"
        >
            <i class="bi bi-plus-lg"></i>
        </div>
    </div>

    <div
        class="d-grid gap-2"
        cdkDropList
        (cdkDropListDropped)="drop($event, confEl.outlet1)"
    >
        <app-conf-el-shell
            cdkDrag
            *ngFor="let confEl of confEl.outlet1"
            [confEl]="confEl"
        ></app-conf-el-shell>
    </div>
</div>
