<div class="modal-header">

    <h4 class="modal-title" id="modal-title">
        {{ 
            supportedConfigs.includes(ConfElType.Command)
                ? 'Comandi disponibili'
                : 'Elementi designer'
        }}
    </h4>

    <button
        type="button"
        class="btn-close" 
        (click)="activeModal.dismiss('Cross click')"
    ></button>
</div>

<div class="modal-body">

    <ngb-accordion
        *ngIf="
            supportedConfigs.includes(ConfElType.Layout)
            || supportedConfigs.includes(ConfElType.Widget)
        "
        activeIds="panel-1"
        [closeOthers]="true"
    >

        <ngb-panel
            id="panel-1"
            [disabled]="!supportedConfigs.includes(ConfElType.Layout)"
        >

            <ng-template ngbPanelTitle>
                <span>Elementi di layout</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-grid gap-2">
                        <div
                            *ngFor="let l of LAYOUTS"
                            class="card shadow"
                            (click)="select(l)"
                        >
                            <div class="card-body p-2">
                                <app-layout
                                    [confEl]="l"
                                    [isShowcase]="true"
                                ></app-layout>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel
            id="panel-2"
            [disabled]="!supportedConfigs.includes(ConfElType.Widget)"
            [cardClass]="!supportedConfigs.includes(ConfElType.Widget) ? 'disabled' : ''"
        >

            <ng-template ngbPanelTitle>
                <span>Testuali</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
    
                    <div class="d-grid justify-content-start gap-2 mb-3">
                        <div
                            *ngFor="let w of HEADINGS"
                            class="card shadow"
                            (click)="select(w)"
                        >
                            <div class="card-body p-2">
                                <app-heading
                                    [confEl]="w"
                                    [isShowcase]="true"
                                ></app-heading>
                            </div>
                        </div>
                    </div>
                
                    <div class="d-grid justify-content-start gap-2">
                        <div
                            *ngFor="let w of PARAGRAPHS"
                            class="card shadow"
                            (click)="select(w)"
                        >
                            <div class="card-body p-2">
                                <app-paragraph
                                    [confEl]="w"
                                    [isShowcase]="true"
                                ></app-paragraph>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel
            [disabled]="!supportedConfigs.includes(ConfElType.Widget)"
            [cardClass]="!supportedConfigs.includes(ConfElType.Widget) ? 'disabled' : ''"
        >

            <ng-template ngbPanelTitle>
                <span>Pulsante</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="d-grid justify-content-start gap-2">
                    <div
                        *ngFor="let w of BUTTONS"
                        class="card shadow"
                        (click)="select(w)"
                    >
                        <div class="card-body p-2">
                            <app-button
                                [confEl]="w"
                                [isShowcase]="true"
                            ></app-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel
            [disabled]="true"
            cardClass="disabled"
        >

            <ng-template ngbPanelTitle>
                <span>Lista movimenti</span>
            </ng-template>

            <ng-template ngbPanelContent></ng-template>
        </ngb-panel>

        <ngb-panel
            [disabled]="true"
            cardClass="disabled"
        >

            <ng-template ngbPanelTitle>
                <span>Pin</span>
            </ng-template>

            <ng-template ngbPanelContent></ng-template>
        </ngb-panel>

        <ngb-panel
            [disabled]="true"
            cardClass="disabled"
        >

            <ng-template ngbPanelTitle>
                <span>Tastiera alfanumerica</span>
            </ng-template>

            <ng-template ngbPanelContent></ng-template>
        </ngb-panel>

        <ngb-panel
            [disabled]="true"
            cardClass="disabled"
        >

            <ng-template ngbPanelTitle>
                <span>Tastierino numerico</span>
            </ng-template>

            <ng-template ngbPanelContent></ng-template>
        </ngb-panel>
    </ngb-accordion>

    <ngb-accordion
        *ngIf="supportedConfigs.includes(ConfElType.Command)"
        activeIds="panel-1"
        [closeOthers]="true"
    >

        <ngb-panel id="panel-1">

            <ng-template ngbPanelTitle>
                <span>Comandi API</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of API_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel>

            <ng-template ngbPanelTitle>
                <span>Comandi Card Reader</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of CARD_READER_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel>

            <ng-template ngbPanelTitle>
                <span>Comandi Cash</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of CASH_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel>

            <ng-template ngbPanelTitle>
                <span>Comandi EPP</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of EPP_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel>

            <ng-template ngbPanelTitle>
                <span>Comandi Journal</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of JOURNAL_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel>

            <ng-template ngbPanelTitle>
                <span>Comandi Keyboard</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of KEYBOARD_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel>

            <ng-template ngbPanelTitle>
                <span>Comandi Logger</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of LOGGER_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel>

            <ng-template ngbPanelTitle>
                <span>Comandi RPC</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of RPC_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel>

            <ng-template ngbPanelTitle>
                <span>Comandi Session</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of SESSIONS_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel>

            <ng-template ngbPanelTitle>
                <span>Comandi Terminal</span>
            </ng-template>

            <ng-template ngbPanelContent>
                <div class="py-4">
                    <div class="d-flex flex-wrap gap-2">
                        <div
                            *ngFor="let c of TERMINAL_COMMANDS"
                            class="card shadow"
                            (click)="select(c)"
                        >
                            <div class="card-body p-2">
                                <app-command
                                    [confEl]="c"
                                    [isShowcase]="true"
                                ></app-command>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
