<div class="modal-header">

    <h4 class="modal-title" id="modal-title">
        Aggiungi configurazione
    </h4>

    <button
        type="button"
        class="btn-close" 
        (click)="activeModal.dismiss('Cross click')"
    ></button>
</div>

<div class="modal-body">

    <ng-container *ngIf="supportedConfigs.includes(ConfElType.Layout)">

        <h3 class="mb-4">Layout</h3>
    
        <div class="d-grid gap-2">
            <div
                *ngFor="let l of LAYOUTS"
                class="card shadow"
                (click)="select(l)"
            >
                <div class="card-body p-2">
                    <app-layout
                        [confEl]="l"
                        [isShowcase]="true"
                    ></app-layout>
                </div>
            </div>
        </div>
    </ng-container>


    <ng-container *ngIf="supportedConfigs.includes(ConfElType.Widget)">

        <h3 class="my-4">Widgets</h3>

        <h5 class="mb-3">Pulsanti</h5>
    
        <div class="d-grid gap-2">
            <div
                *ngFor="let l of buttons"
                class="card shadow"
                (click)="select(l)"
            >
                <div class="card-body p-2">
                    <app-button
                        [confEl]="l"
                        [isShowcase]="true"
                    ></app-button>
                </div>
            </div>
        </div>

        <h5 class="my-3">Titoli</h5>
    
        <div class="d-grid gap-2">
            <div
                *ngFor="let l of headings"
                class="card shadow"
                (click)="select(l)"
            >
                <div class="card-body p-2">
                    <app-heading
                        [confEl]="l"
                        [isShowcase]="true"
                    ></app-heading>
                </div>
            </div>
        </div>

        <h5 class="my-3">Paragrafo</h5>
    
        <div class="d-grid gap-2">
            <div
                *ngFor="let l of paragraphs"
                class="card shadow"
                (click)="select(l)"
            >
                <div class="card-body p-2">
                    <app-paragraph
                        [confEl]="l"
                        [isShowcase]="true"
                    ></app-paragraph>
                </div>
            </div>
        </div>
    </ng-container>
</div>
