:root {
    --layout-cols-col-min-width: 3rem;
    --layout-cols-col-min-height: 5rem;
    --layout-cols-gap: 0.5rem;
}

.layout-cols {
    align-items: start;
    display: grid;
    gap: var(--layout-cols-gap);
    position: relative;
    z-index: 1000;
}

.layout-cols:not(:last-child) {
    margin-bottom: var(--layout-cols-gap);
}

.layout-cols > * {
    padding: 0.5rem;
    border: 1px dashed rgba(var(--app-gray_400), 1);
    border-radius: 5px;
    min-height: var(--layout-cols-col-min-height);
    position: relative;
}

.layout-cols > *::before {
    color: rgba(var(--app-gray_400), 1);
    left: 0.5rem;
    position: absolute;
    top: 0.25rem;
}

.layout-cols--1 {
    grid-template-columns: 1fr;
}

.layout-cols--1 > *::before {
    content: "";
}

.layout-cols--2 {
    grid-template-columns: 1fr 1fr;
}

.layout-cols--2 > *::before {
    content: "½";
}

.layout-cols--3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.layout-cols--3 > *::before {
    content: "⅓";
}

.layout-cols--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.layout-cols--4 > *::before {
    content: "¼";
}