<div
    *ngIf="confEl.settings.numOfCols == 1"
    class="layout-cols layout-cols--1"
>
    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet1 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet1 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet1"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>
</div>

<div
    *ngIf="confEl.settings.numOfCols == 2"
    cdkDropListGroup
    class="layout-cols layout-cols--2"
>
    
    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet1 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet1 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet1"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>

    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet2 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet2 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet2"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>
</div>

<div *ngIf="confEl.settings.numOfCols == 3" class="layout-cols layout-cols--3">
    
    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet1 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet1 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet1"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>

    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet2 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet2 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet2"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>

    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet3 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet3 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet3"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>
</div>

<div *ngIf="confEl.settings.numOfCols == 4" class="layout-cols layout-cols--4">

    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet1 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet1 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet1"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>

    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet2 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet2 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet2"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>

    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet3 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet3 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet3"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>

    <div class="d-grid gap-3">

        <div *ngIf="!isShowcase" class="text-center">
            <div
                class="btn btn-sm btn-rnd add-new btn-outline-primary shadow"
                (click)="addConfEl(confEl.outlet4 || [])"
            >
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>

        <div
            class="d-grid gap-3"
            cdkDropList
            [cdkDropListData]="confEl.outlet4 || []"
            (cdkDropListDropped)="drop($event)"
        >
            <app-conf-el-shell
                cdkDrag
                *ngFor="let confEl of confEl.outlet4"
                [confEl]="confEl"
            ></app-conf-el-shell>
        </div>
    </div>
</div>
