<div class="container py-5 my-5">
    <article class="block-layout">
    
        <div class="block-wrapper">
            <span class="block block--item block--is-draggable">
                <div class="block-content">
                    <h3 class="block-heading">one</h3>
                    <div class="pattern pattern--halftone"></div>
                    <div class="pattern pattern--placed"></div>
                </div>
            </span>
        </div>
    
        <div class="block-wrapper">
            <span class="block block--item block--is-draggable">
                <div class="block-content">
                    <h3 class="block-heading">two</h3>
                    <div class="pattern pattern--halftone"></div>
                    <div class="pattern pattern--placed"></div>
                </div>
            </span>
        </div>
    
        <div class="block-wrapper">
            <span class="block block--item block--is-draggable">
                <div class="block-content">
                    <h3 class="block-heading">three</h3>
                    <div class="pattern pattern--halftone"></div>
                    <div class="pattern pattern--placed"></div>
                </div>
            </span>
        </div>
        <div class="block-wrapper">
            <span class="block block--item block--is-draggable">
                <div class="block-content">
                    <h3 class="block-heading">four</h3>
                    <div class="pattern pattern--halftone"></div>
                    <div class="pattern pattern--placed"></div>
                </div>
            </span>
        </div>
    
        <div class="block-wrapper">
            <span class="block block--item block--is-draggable">
                <div class="block-content">
                    <h3 class="block-heading">five</h3>
                    <div class="pattern pattern--halftone"></div>
                    <div class="pattern pattern--placed"></div>
                </div>
            </span>
        </div>
    
        <div class="block-wrapper">
            <span class="block block--item block--is-draggable">
                <div class="block-content">
                    <h3 class="block-heading">six</h3>
                    <div class="pattern pattern--halftone"></div>
                    <div class="pattern pattern--placed"></div>
                </div>
            </span>
        </div>
    
        <div class="block-wrapper">
            <span class="block block--item block--is-draggable">
                <div class="block-content">
                    <h3 class="block-heading">seven</h3>
                    <div class="pattern pattern--halftone"></div>
                    <div class="pattern pattern--placed"></div>
                </div>
            </span>
        </div>
    </article>
</div>