<div class="modal-header">

    <h4 class="modal-title" id="modal-title">
        Modifica configurazione
    </h4>

    <button
        type="button"
        class="btn-close" 
        (click)="activeModal.dismiss('Cross click')"
    ></button>
</div>

<div class="modal-body">

    <div class="mb-3">
        <label for="mod-exe" class="form-label">Modalità di esecuzione</label>
        <select id="mod-exe" class="form-select" [(ngModel)]="target.settings.exeMode">
            <option value="">Scegli modalità</option>
            <option value="sync">Sync</option>
            <option value="async">Async</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="cmd-input" class="form-label">Inputs</label>
        <input id="cmd-input" type="texgt" class="form-control" [(ngModel)]="target.settings.input">
    </div>

    <div class="mb-3">
        <label for="cmd-goto" class="form-label">Goto</label>
        <input id="cmd-goto" type="texgt" class="form-control" [(ngModel)]="target.settings.goto">
    </div>
</div>

<div class="modal-footer">

    <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="activeModal.dismiss('Cancel click')"
    >
        Cancel
    </button>

    <button
        type="button"
        class="btn btn-primary"
        (click)="activeModal.close('Ok click')"
    >
        Ok
    </button>
</div>
