<div class="p-2 border border-secondary rounded">

    <h6 class="text-center mb-2">Layouts</h6>

    <div cdkDropList>

        <div cdkDrag class="wl-cols wl-cols--1">
            <div></div>
        </div>

        <div cdkDrag class="wl-cols wl-cols--2">
            <div></div>
            <div></div>
        </div>

        <div cdkDrag class="wl-cols wl-cols--3">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div cdkDrag class="wl-cols wl-cols--4">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
