<div class="card shadow">

    <div class="card-header conf-el__toolbar">

        <div class="me-auto">{{ confEl.name }}</div>

        <div class="btn btn-sm btn-rnd btn-warning shadow">
            <i class="bi bi-pen-fill"></i>
        </div>

        <div
            class="btn btn-sm btn-rnd btn-danger shadow"
            (click)="removeConf()"
        >
            <i class="bi bi-trash3-fill"></i>
        </div>
    </div>

    <div class="card-body p-2">
        <ng-tempalte dcl></ng-tempalte>
    </div>
</div>
