<div class="card shadow">

    <div
        class="card-header conf-el__toolbar"
        [class.is-layout]="confEl.type === ConfElType.Layout"
        [class.is-widget]="confEl.type === ConfElType.Widget"
        [class.is-command]="confEl.type === ConfElType.Command"
    >

        <div class="me-auto">{{ confEl.name }}</div>

        <div
            *ngIf="confEl.settingsDialog"
            class="btn btn-sm btn-rnd btn-warning shadow"
            (click)="openConfSettings()"
        >
            <i class="bi bi-pen-fill"></i>
        </div>

        <div
            class="btn btn-sm btn-rnd btn-danger shadow"
            (click)="removeConf()"
        >
            <i class="bi bi-trash3-fill"></i>
        </div>
    </div>

    <div class="card-body p-2">
        <ng-tempalte dcl></ng-tempalte>
    </div>
</div>
