.conf-el__toolbar {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.is-layout {
    background: #d2e9cf;
}

.is-widget {
    background: #d5e0ea;
}

.is-command {
    background: #ebd0d0;
}