.conf-shell {
    border: 1px solid rgba(var(--app-gray_400), 1);
    border-radius: 5px;
    min-width: 275px;
    padding: 1rem;
    position: relative;
}

.bg-translucent {
    background-color: rgba(255, 255, 255, 0.33);
}

.border--dashed {
    border-style: dashed;
}

.conf-shell__tools {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 100;
}