<div
    class="conf-shell"
    [class.d-inline-block]="[ConfElType.Widget, ConfElType.Command].includes(confEl.type)"
    [class.border--dashed]="[ConfElType.Layout].includes(confEl.type)"
    [class.bg-white]="[ConfElType.Widget, ConfElType.Command].includes(confEl.type)"
    [class.shadow]="[ConfElType.Widget, ConfElType.Command].includes(confEl.type)"
>

    <div class="conf-shell__tools">

        <div
            *ngIf="confEl.settingsDialog"
            class="btn btn-sm btn-rnd btn-warning shadow"
            (click)="openConfSettings()"
        >
            <i class="bi bi-pen-fill"></i>
        </div>

        <div
            class="btn btn-sm btn-rnd btn-danger shadow"
            (click)="removeConf()"
        >
            <i class="bi bi-trash3-fill"></i>
        </div>
    </div>

    <ng-tempalte dcl></ng-tempalte>
</div>
