<div class="modal-header">

    <h4 class="modal-title" id="modal-title">
        Modifica configurazione
    </h4>

    <button
        type="button"
        class="btn-close" 
        (click)="activeModal.dismiss('Cross click')"
    ></button>
</div>

<div class="modal-body">

    <div class="mb-3">
        <label for="text-of-btn" class="form-label">Testo titolo</label>
        <input id="text-of-btn" type="text" class="form-control" [(ngModel)]="target.settings.text">
    </div>

    <div class="mb-3">
        <select class="form-select" [(ngModel)]="target.settings.size">
            <option value="sm">Piccolo</option>
            <option value="md">Medio</option>
            <option value="lg">Grande</option>
        </select>
    </div>
</div>

<div class="modal-footer">

    <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="activeModal.dismiss('Cancel click')"
    >
        Cancel
    </button>

    <button
        type="button"
        class="btn btn-primary"
        (click)="activeModal.close('Ok click')"
    >
        Ok
    </button>
</div>
