<div class="modal-header">

    <h4 class="modal-title" id="modal-title">
        Aggiungi configurazione
    </h4>

    <button
        type="button"
        class="btn-close" 
        (click)="activeModal.dismiss('Cross click')"
    ></button>
</div>

<div class="modal-body">

    <div class="mb-3">
        <label for="num-of-cols" class="form-label">Numero di colonne</label>
        <input id="num-of-cols" type="number" class="form-control" [(ngModel)]="target.settings.numOfCols">
    </div>

</div>

<div class="modal-footer">

    <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="activeModal.dismiss('Cancel click')"
    >
        Cancel
    </button>

    <button
        type="button"
        class="btn btn-primary"
        (click)="activeModal.close('Ok click')"
    >
        Ok
    </button>
</div>
