.drop-list {
    border: solid 1px #ccc;
    min-height: 60px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.drop-list-item {
    padding: 1rem;
    border: solid 1px #ccc;
    cursor: move;
}

.drop-list-item:not(:last-child) {
    border-bottom: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10px 5px #0002;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}